asgiref==3.8.1
crispy-bootstrap5==2024.10
Django==4.2.*
django-appconf==1.0.6
django-crispy-forms==2.3
django-imagekit==5.0.0
pilkit==3.0
pillow==11.1.0
sqlparse==0.5.3
typing_extensions==4.12.2
tzdata==2024.2