ALLOWED_HOSTS="www.example.com,two,three"
CSRF_COOKIE_SECURE=True/False
CSRF_TRUSTED_ORIGINS="https://www.example.com,two,three"
DJANGO_DEBUG_MODE=True/False
DJANGO_SECRET_KEY=""
GSC_FILENAME="google-search-console-verification.html"
GSC_FILE_CONTENT=""
LANGUAGE_CODE=""
SESSION_COOKIE_SECURE=True/False
SECURE_SSL_REDIRECT=True/False
TIME_ZONE=""
USE_I18N=True
USE_TZ=True