ALLOWED_HOSTS="www.example.com,two,three"
CSRF_COOKIE_SECURE=True
CSRF_TRUSTED_ORIGINS="https://www.example.com,two,three"
DJANGO_SECRET_KEY=""
GSC_FILENAME="google-search-console-verification.html"
GSC_FILE_CONTENT=""
LANGUAGE_CODE=""
SESSION_COOKIE_SECURE=True
SECURE_SSL_REDIRECT=True
TIME_ZONE=""
USE_I18N=True
USE_TZ=True