DJANGO_ALLOWED_HOSTS="www.example.com,two,three"
DJANGO_CSRF_COOKIE_SECURE=True/False
DJANGO_CSRF_TRUSTED_ORIGINS="https://www.example.com,two,three"
DJANGO_DEBUG_MODE=True/False
DJANGO_SECRET_KEY=""
DJANGO_LANGUAGE_CODE=""
DJANGO_SESSION_COOKIE_SECURE=True/False
DJANGO_SECURE_SSL_REDIRECT=True/False
DJANGO_TIME_ZONE=""
DJANGO_USE_I18N=True
DJANGO_USE_TZ=True
GSC_FILENAME="google-search-console-verification.html"
GSC_FILE_CONTENT=""