{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block head_content_tags %}
{% with title="Contact" description="Get in touch." %}
<title>{{ title }} | Chris Mastris</title>
<link rel="canonical" href="{{ absolute_root_url }}{{ request.path }}">
<meta name="description" content="{{ description }}">
<meta property="og:url" content="{{ absolute_root_url }}{{ request.path }}">
<meta property="og:type" content="website">
<meta property="og:title" content="{{ title }}">
<meta property="og:description" content="{{ description }}">
{% endwith %}
{% endblock %}

{% block content %}
<div class="container text-center pb-5">
  <h1 class="display-4 pb-2 mb-5">Get in touch</h1>
  <div class="row justify-content-center text-start">
    <div class="col-lg-7">
      <form action="{% url 'contact' %}" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="text-center">
          <button class="btn btn-outline-success mt-3" type="submit">Send Message</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}